# Excluir archivos y directorios innecesarios para Docker
**/.git
**/.vs
**/bin
**/obj
**/*.dbmdl
**/*.jfm
LICENSE
README.md

# Incluir archivos específicos necesarios
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
